---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->


  <Steps
    id="resume"
    title="Jueves 30 / Fernando Stahl "
    items={[
      {
        title:`<span style="color: blue;"> Ponencia 01:</span> Emprendiendo mi Start UP Tecnologica <br />
         <span class="font-normal">Admin Jimy E. Curo Mamani</span> <br /> 
         <span class="text-sm font-normal">10:00 - am </span>`,
        icon: 'tabler:briefcase',
      },
      {
        title:`<span style="color: blue;"> Ponencia 02:</span> Aplicaciones de la Ciencia de Datos en la Ingeniería. <br />
         <span class="font-normal">MsC. Kent E. Yucra Apaza</span> <br /> 
         <span class="text-sm font-normal">10:45 - am </span>`,
        icon: 'tabler:briefcase',
      },
      {
        title:`<span style="color: blue;"> Ponencia 03:</span> ¿Por qué es importante promover el desarrollo de fibra óptica en el Pais? <br />
         <span class="font-normal">Ing. Alvaro Canchaya</span> <br /> 
         <span class="text-sm font-normal">11:30 - am </span>`,
        icon: 'tabler:briefcase',

      },
      {
        title:`<span style="color: blue;"> Talleres Especializados:</span><br /> 
         <span class="font-normal">Laboratorios de Escuelas Profesionales de Ingeniería</span> <br /> 
         <span class="text-sm font-normal">02:00 pm a 6:00 pm </span>`,
        icon: 'tabler:briefcase',
        
      },
      {
        title:`<span style="color: blue;"> Ponencia 04 - Virtual:</span> Fututo de la Industria Energética <br />
         <span class="font-normal">Dr. Eleodoro Octavio Mayorca Alba</span> <br /> 
         <span class="text-sm font-normal">09:00 - pm </span>`,
        icon: 'tabler:briefcase',

      },
       
      
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

    <Steps
      id="resume"
      title="Jueves 31 / Fernando Stahl "
      items={[
        {
          title:`<span style="color: blue;"> Ponencia 01:</span> Mineria e Innovación en el Perú <br />
          <span class="font-normal">Ing. Susana Gladis Vilca Achata</span> <br /> 
          <span class="text-sm font-normal">08:00 - am </span>`,
          icon: 'tabler:briefcase',
        },
        {
          title:`<span style="color: blue;"> Ponencia 02:</span> Como la Ciencia actua en la Sociedad<br />
          <span class="font-normal">Dr. Franz Zirena Vilca</span> <br /> 
          <span class="text-sm font-normal">09:30 - am </span>`,
          icon: 'tabler:briefcase',
        },
        {
          title:`<span style="color: blue;"> Ponencia 03:</span> La Ingenieria en el Desarrollo Nacional <br />
          <span class="font-normal">Ing. CIP Roque Benavides Ganoza</span> <br /> 
          <span class="text-sm font-normal">10:30 - am </span>`,
          icon: 'tabler:briefcase',

        },
      ]}
      classes={{ container: 'max-w-3xl' }}
    />
</Layout>
